@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


/* 노멀라이징 */

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

ul,li{
    text-decoration: none;
    color: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
}

img, video{
    max-width: 100%;
    display: block;
}

/* 라이브러리 */
.object-cover{
  object-fit: cover;
}


.justify-between {
    justify-content:space-between;
  }

.justify-center{
    justify-content: center;

}

.justify-end{
    justify-content: end;
}

.items-center{
    align-items: center;
}

.self-end{
    align-self: end;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-1{
    flex: 1 1 0%;
}

.flex-shrink-0{
    flex-shrink: 0;
}


.flex-grow{
    flex-grow: 1;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.max-w-100{
    max-width: 100%;
}

.block{
    display: block;
}

.cell{
    float: left;
}

.cell-r{
    float: right;
}

.row::after{
    clear: both;
    content: "";
    display: block;
  }

.gap-10px{
    gap: 10px;
}


.gap-20px{
    gap: 20px;
}

.gap-30px{
    gap: 30px;
}

.gap-40px{
    gap: 40px;
}

.mt-10px{
    margin-top: 10px;
}

.mt-20px{
    margin-top: 20px;
}

.mt-30px{
    margin-top: 30px;
}

.mt-40px{
    margin-top: 40px;
}



.mt-60px{
    margin-top: 60px;
}


.mt-70px{
    margin-top: 70px;
}

.ml-10px{
    margin-left: 10px;
}



.ml-20px{
    margin-left: 20px;
}


.mr-20px{
    margin-right: 20px;
}

.ml-30px{
    margin-left: 30px;
}

.ml-40px{
    margin-left: 40px;
}

.ml-50px{
    margin-left: 50px;
}

.font-bold{
    font-weight: bold;
}

.h-1000px{
    height: 1000px;
}

.bg-white{
    background-color: white;
}

/* 커스터마이징 */
 

html> body{
    font-family: 'Hahmlet', serif;
    color: #3F3B37;
    text-underline-position: under;
    
    }

    .con{            
        max-width: 1920px;
        margin: 0 auto;
    }


    /* 풀페이지 툴팁 */

    /* 동그라미 애니메이션 */

    #fp-nav ul li a{
      width: 2px;
      height: 2px;
      margin: 8px 0 0 9px; 
     
    }

   
    #fp-nav ul li a span{
      background-color: #ffcb5a;
      margin: -2px 0 0 -2px;
  
    }

    

    /* 글자  */
    #fp-nav ul li .fp-tooltip{
      color: #7b7b7b;
     font-family: 'Noto Sans KR', sans-serif;
     margin-top: -8px;
  
    }

    #fp-nav ul li:nth-child(1) .fp-tooltip{
      color: white;
    }

    #fp-nav ul li:nth-child(2) .fp-tooltip{
      color: white;
    }

    #fp-nav ul li:last-child .fp-tooltip{
      color: white;
    }



 /* 메인페이지  */
    .main-page{
        width: 1920px;
        height: 100vh;
        background-color: #D5DEC7;
        position: relative;
    }

  .title-option{
    position: absolute;
    top: 18%;
    right: 10%;
  }

  /* 로고이미지 */
  .main-title .cledorApp img {
  animation:fly 2s linear infinite;
  }


  .cledorApp img{
    width: 100%;
    display: block;
  }

  @keyframes fly {
  
    0% {
      
    }
    
    50% {
     transform: translateY(20px);
    }
    
  
    100% {
      
    }
  }

  

  
  .sub-title > span{
    display: inline-block;
    overflow:hidden;
  
  }

  .sub-title > span > span{
    font-size: 26px;
    display: block;

  }



  .project-option {
    position: absolute;
    bottom: 9%;
    right: 13%;
  }

  .project-option > li:not(first-child){
     margin-top: 20px;
  }

  .project-option > li span{
    font-family: 'Noto Sans KR', sans-serif;
    color: #3F3B37;
    letter-spacing: 1px;
  }


  /* 페이지 오버뷰 */



  .project-overview{
    width: 1920px;
    height: 100vh;
  }

   .overview-bg{
    position: relative;
   }

  .overview-title{
     position: absolute;
     top: 15%;
     left: 10%;

  }

  

  .title-datail{
    position: absolute;
    left: 10%;
    top: 22%;
    font-size: 24px;
    line-height: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #3F3B37;
  }

  .fp-viewing-1  .title-datail{
    animation: fade-up 2s;
  }

  @keyframes fade-up{
    from {
        transform: translatey(70px);
        opacity: 0;
    }
    to {
        transform: translatey(0);
         opacity: 1;
    }
  }
  


  .phone-image{
    position: absolute;
   bottom: 0;
    right: 19%;
  }





  /* 스타일가이드 */
  .style-guide{
    width: 1920px;
    height: 750px;
    background-color: white;

  }



  .guide-contents  p{
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    letter-spacing: 1;
 }

  .main-color {
    margin-left: 7%;
    
  }


 /* 인디라이브브라운 */
  
  .fp-viewing-2  .color-image ul .color-1{
    animation: fade-right 1s;
  }

  @keyframes fade-right{
    from {
        transform: translatex(-70px);
        opacity: 0;
    }
    to {
        transform: translatex(0);
         opacity: 1;
    }
  }

  /* 인디그린 */
  .fp-viewing-2  .color-image ul .color-2{
    animation: fade-right 1.5s;
  }

  @keyframes fade-right{
    from {
        transform: translatex(-70px);
        opacity: 0;
    }
    to {
        transform: translatex(0);
         opacity: 1;
    }
  }

  /* 인디라이트옐로우 */
  .fp-viewing-2  .color-image ul .color-3{
    animation: fade-right 2s;
  }

  @keyframes fade-right{
    from {
        transform: translatex(-70px);
        opacity: 0;
    }
    to {
        transform: translatex(0);
         opacity: 1;
    }
  }


  .main-color .title p , .main-font .title p{
    font-size: 15px;
  }

 .color-image {
    margin-top: 60px;
    
 }

 .color-image ul li p{
    margin-top: 10px;
    font-size: 12px;
 }


.main-font{
    margin-right:8%;
}

.font-detail{
    margin-top: 60px;
}

.font-detail p{
    margin-top: 10px;
    font-size: 12px;
}

.font-detail ul{
    margin-left: 4%;
}

.font-detail ul > li:nth-child(2){
    margin-top: 13%;
}

/* 인디 딥블루 */
.fp-viewing-2  .font-color{
    animation: fade-right 2s;
  }

  @keyframes fade-right{
    from {
        transform: translatex(-50px);
        opacity: 0;
    }
    to {
        transform: translatex(0);
         opacity: 1;
    }
  }


  /* 와이어프레임 */
  .wire-frame{
    width: 1920px;
    height: 100vh;
    background-color: #F9F9F9;
    position: relative;
  }


  .wire-frame .wire-design {
    width: 100%;
    height:75%;
    overflow: hidden;
   position: absolute;
   top: 25%;
  
   
  }

  .wire-frame .wire-design .wire-app{
    max-width: 100%;
    height: auto;
    display: block;
  }


  .fp-viewing-3 .wire-app {
    animation:zoom 1s;
  }
  
  
  @keyframes zoom {
    from {
      transform:scale(0.5);
      opacity:0;
    }
  }

  .wire-title {
    position: absolute;
    top :6%;
    left: 10%;
}

.wire-title p{
    font-family: 'Noto Sans KR', sans-serif;
    color: #1C1C1C;
    letter-spacing: 1;
}



.wire-appimage img{
    width: 600px;
    height: 400px;
}



.wire-content .type-1{
  position: absolute;
  top: 21%;
  left: 20%;
  width: 100px;
  height: 100px;
}


.wire-content .type-2{
    position: absolute;
    top: 22%;
    left: 30%;
    width: 120px;
    height: 80px;
  }

  
.wire-content .type-3{
    position: absolute;
    bottom: 22%;
    left: 12.5%;
    width: 110px;
    height: 65px;
  }

 

  /* 컬러설명 애니메이션 */
  .fp-viewing-3 .wire-content .type-1  {
    animation:zoom 1.5s;
  }
  
  
  @keyframes zoom {
    from {
      transform:scale(0.5);
      opacity:0;
    }
  }
  
  .fp-viewing-3 .wire-content .type-2  {
    animation:zoom 2.4s;
  }
  
  
  @keyframes zoom {
    from {
      transform:scale(0.5);
      opacity:0;
    }
  }
  

  .fp-viewing-3 .wire-content .type-3  {
    animation:zoom 2s;
  }
  
  
  @keyframes zoom {
    from {
      transform:scale(0.5);
      opacity:0;
    }
  }
  
  /*  app-design-1 */
  .app-design-1{
    background-color: #FDFBF3;
    width: 100%;
   
  }

  .app-content-1{
    position: relative;
  }

  .app-list-1{
   margin-top: 8.3%;
  }
 
  .app-list-1 > ul >li{
   margin-left: -7%;
  }

  .app-main-1 {
    z-index: 20;
  }

  
  .fp-viewing-4  .app-content-1  {
    animation:fade-in-left 1.5s;
 
  }
  

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-70px);
    transform: translateX(-70px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }
}



  .app-list-1 > ul >li:first-child{
    z-index: 18;
  }

  .app-list-1 > ul >li:nth-child(2){
    z-index: 17;
  }

  .main-text-1{
     position: absolute;
     top: 12%;
     left: 30%;
     z-index: 21;
  }

  .main-text-2{
    position: absolute;
    bottom: -7%;
    left: 33%;
    z-index: 21;
 }

 /* app-content-2 */

 .app-page-2 > ul{
   margin-left: 21%;
   margin-top: 10%;

 }


 

 .page-2-text{
  margin-top: 24%;
  margin-left: -14%;
 }

 /* app-content-3 */
 .page-list-3{
  margin-left: 20px;
  margin-top: 10px;
 }



 .page-list-3 > li:first-child{
  margin-top: 11%;
  margin-left: 22%;
  z-index: 21;
 }


 .page-list-3 > li:last-child{
  margin-top: -10%;
  margin-left: -5%;
 }

 /* app-design-2 */

 /* surve-contetnt-1 */

 .app-design-2 {
   width: 100%;
   background-color: #F6F0ED;

 }

 .surve-list-1>ul {
   margin-top: -29%;
 }

 .surve-list-1>ul>li:first-child {
   margin-top: 21.5%;
   margin-left: 13.5%;

 }

 .surve-list-1>ul>li:last-child {
   margin-left: 10%;

 }

 /* surve-page 앱이미지-1*/

 .surve-list-2 >li:first-child{
  margin-top: 5%;
  margin-left: -5%;
 }
 
 .surve-list-2 >li:nth-child(2){
 margin-top: 5%;
  margin-left: -7%;
 }
 
 .surve-list-2 >li:nth-child(3){
  margin-top: 7%;
   margin-left: -11%;
  }
  

  .surve-list-2 >li:nth-child(4){
    margin-top: 5%;
   margin-left: -7%;
    }
    
    /* surve-page 앱이미지-2*/
     .surve-list-3 > li:nth-child(1)>img{
      margin-top: 11.5%;
      margin-left: 20.5%;
    
     }

     .surve-list-3 > li:nth-child(2)>img{
      margin-top: 34%;
      margin-left: 25.5%;
  
     }


       

.fp-viewing-5 .surve-mainpage-1 {
  animation:fade-in-left 1.5s;
 
}


@-webkit-keyframes fade-in-left {
0% {
  -webkit-transform: translateX(-70px);
  transform: translateX(-70px);
  opacity: 0
}

100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}
}
 
 
 /* surve-page 앱이미지-3*/
      .surve-list-4 > li:nth-child(1){
           margin-top: -1.5%;
           margin-left: -8%;
      }
   
      .surve-list-4 > li:nth-child(2){
        margin-top: -1.5%;
        margin-left: -15%;
   }

   .surve-list-4 > li:nth-child(3){
    margin-top: -11%;
    margin-left: -15.5%;
}

.surve-list-4 > li:nth-child(4){
  margin-top: -11%;
  margin-left: -7%;
}




/* section last-page */
/* 메인페이지  */
.last-page{
  width: 1920px;
  height: 100vh;
  background-color: #D5DEC7;
  position: relative;
}

.last-page-title {
position: absolute;
top: 18%;
left: 10%;
}

/* 로고이미지 */
.last-page-title  .cledorApp img {
animation:fly 2s linear infinite;
}


.cledorApp img{
width: 100%;
display: block;
}

@keyframes fly {

0% {

}

50% {
transform: translateY(20px);
}


100% {

}
}




.sub-title > span{
display: inline-block;
overflow:hidden;

}

.sub-title > span > span{
font-size: 26px;
display: block;

}


